{% extends 'base.html.twig' %} 
{% block body %}
    <style>
        main{padding-top: 100px}
        main img{height: 500px;width: 100%}
        h1{color:black;text-align: center;font-weight: bold}
        h2{color:cadetblue;text-align: center;font-weight: bold}
        pre{text-align: center;font-family: "Agency FB";font-size: large}
        article .card img{height: 200px;width: 348px}
        main footer a{text-align: center;margin-left: 47%}
        main footer .card-header{text-align: center;font-weight: bold;text-decoration: underline}
        .footers a {color:#696969;}
        .footers p {color:#696969;}
        .footers ul {line-height:30px;}
        #social-fb:hover {color: #3B5998;transition:all .001s;}
        #social-tw:hover {color: #4099FF;transition:all .001s;}
        #social-gp:hover {color: #d34836;transition:all .001s;}
        #social-em:hover {color: #f39c12;transition:all .001s;}
    </style>

    <main role="main">
        <hr>
        <h2>Voyages organisées avec Agence Tours Dsi22 Tunisie</h2>
        <hr>

        <br/><br/><hr>
        <article>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="https://aviatourstunisia.com/wp-content/uploads/2019/02/paris_640x480.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">France</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://aviatourstunisia.com/wp-content/uploads/2019/11/dubai.jpg.image_.1008.754.low_.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dubai</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://aviatourstunisia.com/wp-content/uploads/2019/02/La-Sagrada-Familia-Barcelone-Espagne.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Barcelona</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>

            <br><hr><br>

            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="https://aviatourstunisia.com/wp-content/uploads/2019/02/malaysia-slider.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Malisie</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://aviatourstunisia.com/wp-content/uploads/2019/02/marrakesh.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Marrakesh</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://aviatourstunisia.com/wp-content/uploads/2019/02/NYC-SF-LV-540x372.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Usa</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
            <br><hr><br>
        </article>

        <footer>
            <div class="card"  >
                <div class="card-header">
                    Agence Tours Dsi22
                </div>

            </div>
        </footer>
        <br><hr/><br>
        <section class="copyright border">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12 pt-3">
                        <p class="text-muted">© 2020 Allani Molka.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %} 
